<!DOCTYPE html>
<html>
<head>
    <title>Панель управления</title>
    <!--Meta-->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!--SVG-->

    <!--Bootstrap-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
	
    <!--Links-->
	
    <link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 
	<link rel="icon" type="image/svg+xml" href="img/favicon.svg">
	<link rel="stylesheet" type="text/css" href="css/admin.css">
	
 
</head>
<body>
    <div class="left-panel">
		<div class="top">
			        <img src="img/whiteLogo.svg" height="50px" style=""><br> 
		</div>
		<ul class="menu">
			<li>Пункт 1</li>
			<li>Пункт 2</li>
			<li>Пункт 3</li>
			<li>Пункт 4</li>
			<li>Пункт 5</li>

		</ul>
	</div>
	<div class="right-panel">
		Пользователь {{user_login}}
	</div>
</body>